.login,
.page-holder {
    min-height: 100vh
}

.bg-image {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://cdn.pixabay.com/photo/2021/11/22/06/54/max-fold-6815944_960_720.jpg');
    background-size: cover;
    background-position: center center;
    height: 100%; 
}
